@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* DaisyUI */
@import url('./output.css');

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

.bw-logo {
    filter: grayscale(1) brightness(0) invert(0);
    transition: filter 0.3s;
}

/* Para DaisyUI: tema escuro via data-theme */
html[data-theme="dark"] .bw-logo,
body[data-theme="dark"] .bw-logo {
    filter: grayscale(1) brightness(1.5) invert(1);
}