<footer class="footer bg-base-300 text-base-content p-10 mt-4">
  {% comment %}TODO: Add services and company links{% endcomment %}
  {% comment %} <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav> {% endcomment %}
  {% if social_info.social_media %}
    <nav class="w-full md:w-auto md:ml-auto flex flex-col md:items-end items-center mt-4 md:mt-0">
      <h6 class="footer-title">Social</h6>
      <div class="flex flex-row flex-wrap justify-center md:justify-end gap-4 w-full">
        {% for item in social_info.social_media.all %}
          <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer" class="relative group focus:outline-none">
            <figure class="aspect-square">
              {% if item.logo %}
                <img src="{{ item.url_logo }}" alt="{{ item.name }}" height="24" width="24" class="bw-logo" />
              {% else %}
                <i class="devicon-{{ item.name|lower }}-plain text-[24px] hover:text-primary"></i>
              {% endif %}
            </figure>
            <span class="pointer-events-none absolute left-1/2 -translate-x-1/2 bottom-full mb-2 px-2 py-1 rounded bg-base-200 text-xs text-base-content opacity-0 group-hover:opacity-100 group-focus:opacity-100 group-active:opacity-100 transition-opacity whitespace-nowrap z-10 shadow">{{ item.name }}</span>
          </a>
        {% endfor %}
      </div>
    </nav>
  {% endif %}
  <nav class="w-full">
    <p class="w-full text-center">
      GomeSystems &copy;2022-{% now 'Y' %}
    </p>
    <p class="w-full text-center">All rights reserved.</p>
  </nav>
</footer>
