{% block jobs %}
  <section id="jobs">
    <div class="container">
      <h3>
        Personal and professional experience
        <span class="htmx-indicator"><span class="material-symbols-outlined">search</span></span>
      </h3>
      <input class="input input-bordered md:w-auto my-3" type="text" name="search" placeholder="Type to search job/stack" hx-post="/jobs/get_job_by_title_or_stack" hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load" hx-target="#search-results" hx-indicator=".htmx-indicator" />
      <ul class="timeline max-md:timeline-compact timeline-vertical items-center" id="search-results"></ul>
    </div>
  </section>
{% endblock %}
