<section id="stack">
  <h2 class="font-bold text-xl text-center my-3">Tecnologias</h2>
  <p class="text-center text-sm my-4">As tecnologias que utilizo no meu dia a dia.</p>
  <div class="flex w-full justify-start items-center my-2">
    <div class="job-filter">
      <label for="stack_search">Filtrar por tecnologia</label>
      <input id="stack_search" type="text" name="stack_search" placeholder="Python" class="input input-bordered input-accent my-3 md:w-auto" hx-post="/jobs/get_stack_by_name_or_worked_years" hx-trigger="input changed delay:500ms, keyup[key=='Enter'], load" hx-target="#stack-results" hx-indicator=".htmx-indicator" />
    </div>
    <div class="divider divider-horizontal"></div>
    <div class="job-filter">
      <label for="year_search">Filtrar por quantidade de anos trabalhados</label>
      <div id="year_search" class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-2 mt-2">
        {% for year in stack_years %}
          <button 
            onclick="cleanInput('stack_search')"
            class='btn btn-primary'
            hx-post="/jobs/get_stack_by_name_or_worked_years"
            hx-target="#stack-results"
            name="worked_years"
            value="{{ year }}"
            type="button"
            hx-vals='{"worked_years": "{{ year }}"}'
          >{{ year }}</button>
        {% empty %}
          <p class="text-gray-400 col-span-full">Nenhum ano encontrado</p>
        {% endfor %}
        <button 
            onclick="cleanInput('stack_search')"
            class='btn btn-primary'
            hx-post="/jobs/get_stack_by_name_or_worked_years"
            hx-target="#stack-results"
            name="worked_years"
            value=""
            type="button"
            hx-vals='{}'
          >Todos</button>
      </div>
    </div>
  </div>
  {% if stack.all|length == 0 %}
    <p class="text-center text-sm">Nenhuma tecnologia encontrada.</p>
  {% endif %}
  <div id="stack-results" class="grid grid-cols-3 md:grid-cols-6 lg:grid-cols-8 gap-4 mt-3">
    {% include 'partials/stack_search_result.html' %}
  </div>
</section>
